// app global css in SCSS form
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: rgb(44, 44, 44);
}

.sans {
  font-family: "roboto", sans-serif;
}

$default: #0598c0;

:root {
  --page-width: 600px;
  --blue-light: #c0eec6;
  --default-theme: $default;
}

.q-dialog__inner--maximized > .max-width,
.max-width {
  width: var(--page-width);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  margin: 0;
}

.bg-glass {
  // background-image: url("~assets/bg.jpg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.bg-fafafa {
  background-color: #fafafa;
}

.install-modal {
  width: 380px;
}

.swiper-container {
  display: grid;
}

.margin-auto {
  margin: auto;
}

.swiper-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

div,
.border-box {
  box-sizing: border-box;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-40 {
  z-index: 40;
}

.z-50 {
  z-index: 50;
}

.glasses {
  background-color: #ffffffef;
}

.glasses-2 {
  background-color: #ffffffeb;
}

.bg-blue-light {
  background-color: var(--blue-light);
}

.bg-glass-blue {
  position: relative;
  overflow: hidden;

  & > * {
    z-index: 5;
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--blue-light);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &.rotate {
    &::before {
      content: "";
      position: absolute;
      background-color: var(--blue-light);
      height: 90%;
      width: 110%;
      transform: rotate(356deg);
      top: -50px;
      left: -10px;
    }
  }
}

.my-card {
  padding: 3px;
  border-radius: 8px;
  color: #101010c2;
}

.mbl {
  // max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;

  header,
  footer,
  .header-top,
  .img-carousel,
  .q-page-container,
  main {
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
  }
}

.q-body--fullscreen-mixin .img-carousel.q-carousel {
  max-height: 100vh !important;
}

.img-carousel.q-carousel {
  max-width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

.footer-tab {
  .q-tab__label {
    font-size: 11px;
  }

  .q-tab .q-badge {
    top: 2px;
    right: 0px;
  }
}

.block-title {
  position: relative;

  h4,
  h3,
  h2 {
    position: relative;
    display: inline-flex;
    font-weight: 600;
    z-index: 5;
    line-height: normal;
  }

  h2 {
    font-size: 21px;
  }

  h3 {
    font-size: 19px;
  }

  h4 {
    font-size: 17px;
  }

  @media screen and (max-width: 480px) {
    h2 {
      font-size: 18px;
    }

    h3 {
      font-size: 16px;
    }

    h4 {
      font-size: 14px;
    }
  }
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;

  &__top-right {
    top: 0;
    right: 0;
  }
}

.mini .q-field__marginal,
.mini .q-field__control {
  height: 30px;
}

.brand {
  font-size: 20px;

  @media screen and(max-width: 500px) {
    font-size: 16px;
  }
}

.br-top {
  border-radius: 30px 30px 0 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.image-list {
  width: 108px;
  height: auto;
}

.text-list-title {
  font-size: 16px;
  font-weight: 500;
}

.slider-padding {
  padding: 1rem 2rem;
}

.auto-padding {
  padding: 10px 16px;
}

.auto-padding-side {
  padding-left: 16px;
  padding-right: 16px;
}

.img-product-admin {
  width: 80px;
  height: auto;
}

.banner {
  width: 100%;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }
}

.bg-trans-primary {
  background-color: rgba(var(--q-color-primary), 0.3);
}

.partner-img {
  img {
    height: 60px;
    width: 60px;
    object-fit: contain;
  }
}

.text-auto {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .auto-padding {
    padding: 5px 8px;
  }

  .text-auto {
    font-size: 11.5px;
  }

  .auto-padding-side {
    padding-left: 8px;
    padding-right: 8px;
  }

  .footer-tab {
    .q-tabs__content {
      justify-content: space-between;
    }

    .q-tab {
      padding: 0 5px;
    }
  }

  .img-product-admin {
    width: 60px;
    height: auto;
  }
}

.featured {
  .description {
    font-size: 10px;
  }
}

.flex-1 {
  flex: 1 0;
}

.card-heading {
  font-weight: 600;
  padding: 0.7rem 1rem;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.q-filled {
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px 4px 0 0;
}

.input-text {
  padding: 5px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 4px;
  min-width: 80px;

  &:focus {
    border: 1px solid var(--q-color-primary);
    outline: none;
  }
}

.text {
  &-xs {
    font-size: 11px;
  }

  &-sm {
    font-size: 14px;
  }

  &-md {
    font-size: 17px;
  }

  &-lg {
    font-size: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
}

.border {
  &-b {
    border-bottom: 1px solid #eee;
  }
}

.header {
  position: relative;
  overflow: hidden;

  &-inner {
    position: relative;
    overflow: hidden;
    z-index: 5;

    &:after {
      content: "";
      background-color: var(--q-color-primary);
      height: 25%;
      overflow: hidden;
      z-index: -1;
      width: 100%;
      transform: scaleX(1.5);
      left: 0;
      bottom: 0;
      position: absolute;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &:before {
      content: "";
      background-color: var(--q-color-primary);
      height: 80%;
      width: 100%;
      left: 0;
      top: 0;
      position: absolute;
    }

    nav {
      padding-left: 2rem;
      padding-right: 2rem;
      position: sticky;
      top: 0;
    }
  }
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 100;
}

.q-card.shadow {
  box-shadow: 0px 2px 11px 0px rgb(60 60 60 / 5%);
}

#checkout {
  .q-stepper__tab {
    padding: 6px 12px;
  }

  .q-stepper__step-inner {
    padding: 0.6rem;
  }

  fieldset {
    border-color: #d1d1d1;
    border-style: dashed;
  }

  legend {
    font-weight: 600;
    font-size: 17px;
  }
}

.padding-responsive {
  padding: 5px;
}

.default {
  .logo {
    width: 28px;
    height: 28px;
  }
}

.romance {
  .logo {
    width: 38px;
    height: 38px;
  }
}

.elegant {
  .swiper {
    padding-bottom: 16px;

    .swiper-pagination {
      bottom: 0;
    }
  }
}

.logo {
  width: 42px;
  height: 42px;
}

.logo_default {
  width: 26px;
  height: 26px;
}

.block-container {
  margin-top: 1rem;

  .block-heading {
    margin-bottom: 0.6rem;

    .block-subtitle {
      color: #6d6d6d;
      font-size: 12px;
      font-family: "Roboto", sans-serif;
    }

    .banner {
      margin-top: 0.5rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .block-footer {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}

@media screen and(min-width: 600px) {
  .block-container {
    margin-top: 1.6rem;

    .block-heading {
      margin-bottom: 1rem;

      .block-subtitle {
        font-size: 14px;
      }

      .banner {
        margin-top: 0.9rem;
      }
    }
  }
}

.input-search {
  padding-left: 8px;
  border-radius: 4px;
  background-color: white;
}

.slider {
  .q-carousel__slide {
    background-size: contain;
    background-repeat: no-repeat;
    width: 70%;
    margin: auto;
  }
}

.round {
  border-radius: 50%;
}

.rounded {
  border-radius: 4px;
}

.category-rounded {
  .category-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--q-color-primary);
    width: 47px;
    height: 47px;
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 50%;

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
    }
  }
}

@media screen and(min-width: 576px) {
  .padding-responsive {
    padding: 8px;
  }

  .image-list {
    width: 120px;
  }

  .category-rounded {
    .category-img {
      width: 70px;
      height: 70px;

      img {
        width: 45px;
        height: 45px;
        object-fit: contain;
      }
    }
  }

  .featured {
    .description {
      font-size: 13px;
    }
  }
}

.wisata-card {
  .content {
    position: absolute;
    padding: 8px;
    color: #fff;
    background: linear-gradient(
      178deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(0, 0, 5, 0.678) 100%
    );
    text-align: left;
    height: 100%;
    display: flex;
    align-items: flex-end;
    width: 100%;
  }
}

.textarea-input textarea {
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

table.dense {
  tr {
    th,
    td {
      padding: 2px 5px;
    }
  }
}

table.table th,
table.table td,
table.table td * {
  vertical-align: top;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.notif-content {
  position: fixed;
  z-index: 100;
  bottom: 10%;
  font-size: 13px;
  transform: translate(3%, 100%);
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 5px #ddd;
  max-width: 350px;
  transition: all 400ms linear;
  opacity: 0;
  width: 94%;

  &.show {
    transform: translate(3%, -3%);
    opacity: 1;
  }
}

.payment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 12px 8px;
}

.payment-list {
  box-sizing: border-box;
  max-width: 116px;
  text-align: center;
  display: flex;
  min-height: 95px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;

  &.cod {
    justify-content: center;
  }

  &.bank_trf {
    max-width: 140px;
    justify-content: center;
  }

  &.is-selected {
    border-color: $primary;

    .name {
      color: $primary;
    }
  }

  .image {
    overflow: hidden;
    padding: 3px;
    width: 87px;
    height: 50px;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  .name {
    margin-top: auto;
    font-size: 11px;
    font-weight: 600;
  }
}

.q-panel.scroll {
  overflow-x: hidden;
}
