<?xml version='1.0' encoding='utf-8'?>
<widget id="laundrymaster.ardata.co.id" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Laundry Digital</name>
    <description>By CV Ardata Media</description>
    <author email="ardata.indonesia@gmail.com" href="https://ardata.co.id">
        CV ARDATA MEDIA
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <preference name="Scheme" value="https" />
    <allow-navigation href="https://*" />
    <icon density="mdpi" height="57" platform="ios" src="res/icon.png" width="57" />
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-feature android:name="android.hardware.camera" android:required="true" />
        </config-file>
    </platform>
</widget>
